<div style="background-color: #e7ebee; height: 100%;">
  <app-header></app-header>
  <div class="quiz">
    <div
      class="container"
      fxLayout="column"
      fxLayoutWrap
      fxLayoutGap="10px"
      fxLayoutGap.xs="5px"
      fxLayoutAlign="center stretch"
    >
      <h2>GRE Quiz</h2>
    </div>
    <div
      class="container"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="10px"
      fxLayoutGap.xs="5px"
      fxLayoutAlign="center"
    >
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas cumque
      excepturi nisi blanditiis reprehenderit fugiat commodi, officiis
      dignissimos eos dicta earum dolorum expedita voluptates eius esse,
      eligendi molestiae vitae laboriosam. Lorem ipsum, dolor sit amet
      consectetur adipisicing elit. Culpa incidunt dolorem quaerat itaque,saepe
      ullam iste delectus vel sunt, explicabo, vero placeat aperiam quisquam
      velit voluptatibus ipsa. Ipsam, laudantium impedit. Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Quas cumque excepturi nisi blanditiis
      reprehenderit fugiat commodi, officiis dignissimos eos dicta earum dolorum
      expedita voluptates eius esse, eligendi molestiae vitae laboriosam. Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Culpa incidunt dolorem
      quaerat itaque,saepe ullam iste delectus vel sunt, explicabo, vero placeat
      aperiam quisquam velit voluptatibus ipsa. Ipsam, laudantium impedit Lorem
      ipsum dolor sit amet consectetur, adipisicing elit. Quas cumque excepturi
      nisi blanditiis reprehenderit fugiat commodi, officiis dignissimos eos
      dicta earum dolorum expedita voluptates eius esse, eligendi molestiae
      vitae laboriosam. Lorem ipsum, dolor sit amet consectetur adipisicing
      elit. Culpa incidunt dolorem quaerat itaque,saepe ullam iste delectus vel
      sunt, explicabo, vero placeat aperiam quisquam velit voluptatibus ipsa.
      Ipsam, laudantium impedit. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Quas cumque excepturi nisi blanditiis reprehenderit
      fugiat commodi, officiis dignissimos eos dicta earum dolorum expedita
      voluptates eius esse, eligendi molestiae vitae laboriosam. Lorem ipsum,
      dolor sit amet consectetur adipisicing elit. Culpa incidunt dolorem
      quaerat itaque,saepe ullam iste delectus vel sunt, explicabo, vero placeat
      aperiam quisquam velit voluptatibus ipsa. Ipsam, laudantium impedit Lorem
      ipsum dolor sit amet consectetur, adipisicing elit. Quas cumque excepturi
      nisi blanditiis reprehenderit fugiat commodi, officiis dignissimos eos
      dicta earum dolorum expedita voluptates eius esse, eligendi molestiae
      vitae laboriosam. Lorem ipsum, dolor sit amet consectetur adipisicing
      elit. Culpa incidunt dolorem quaerat itaque,saepe ullam iste delectus vel
      sunt, explicabo, vero placeat aperiam quisquam velit voluptatibus ipsa.
      Ipsam, laudantium impedit. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Quas cumque excepturi nisi blanditiis reprehenderit
      fugiat commodi, officiis dignissimos eos dicta earum dolorum expedita
      voluptates eius esse, eligendi molestiae vitae laboriosam. Lorem ipsum,
      dolor sit amet consectetur adipisicing elit. Culpa incidunt dolorem
      quaerat itaque,saepe ullam iste delectus vel sunt, explicabo, vero placeat
      aperiam quisquam velit voluptatibus ipsa. Ipsam, laudantium impedit
    </div>
    <br />
    <div
      class="container"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="10px"
      fxLayoutGap.xs="5px"
      fxLayoutAlign="center"
    >
      <mat-radio-group
        aria-label="Select the number of questions you want to practice"
      >
        <mat-radio-button value="1">10</mat-radio-button>
        <mat-radio-button value="2">20</mat-radio-button>
        <mat-radio-button value="3">30</mat-radio-button>
        <mat-radio-button value="4">40</mat-radio-button>
        <mat-radio-button value="5">50</mat-radio-button>
      </mat-radio-group>
    </div>
    <br />
    <div
      class="container"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="10px"
      fxLayoutGap.xs="5px"
      fxLayoutAlign="center"
    >
      <button mat-raised-button color="primary" (click)="next()">
        Start Test
      </button>
    </div>
  </div>
</div>
