<app-header></app-header>
<div class="heading">Frequently Asked Questions (FAQs)</div>
<div class="content">
    <div class="card">
        <mat-card class="example-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="example-header-image"
              style="background-image: url('/assets/img/faq.jpg');"
            ></div>
            <mat-card-title>WHY DO YOU NEED THIS APP?</mat-card-title>           
          </mat-card-header>         
          <mat-card-content>
            <p>
                The best application for preparing for GRE examination 
                which covers quant, verbal as well as quiz.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card">
        <mat-card class="example-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="example-header-image"
              style="background-image: url('/assets/img/faq.jpg');"
            ></div>
            <mat-card-title>WHO SHOULD USE THIS APPLICATION?</mat-card-title>           
          </mat-card-header>         
          <mat-card-content>
            <p>
                The GRE aspirants who want to score 300+, with ease must use this application.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card">
        <mat-card class="example-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="example-header-image"
              style="background-image: url('/assets/img/faq.jpg');"
            ></div>
            <mat-card-title>WHAT IS SPECIAL IN THIS APP, THAT OTHERS DO NOT PROVIDE?</mat-card-title>           
          </mat-card-header>         
          <mat-card-content>
            <p>
                This app provides you with maximum study material for free.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card">
        <mat-card class="example-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="example-header-image"
              style="background-image: url('/assets/img/faq.jpg');"
            ></div>
            <mat-card-title>WHO SHOULD DOWNLOAD THIS APP?</mat-card-title>           
          </mat-card-header>         
          <mat-card-content>
            <p>
                The GRE aspirants who want to score 300+, with ease must have this app in their android device.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card">
        <mat-card class="example-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="example-header-image"
              style="background-image: url('/assets/img/faq.jpg');"
            ></div>
            <mat-card-title>HOW MANY QUESTIONS ARE THEIR IN THIS APP OVERALL COMBINING ALL THE 3 SECTIONS?</mat-card-title>           
          </mat-card-header>         
          <mat-card-content>
            <p>
                There are more than 50 practice questions including all the sections, 
                which if you practice completely, your score in GRE will be very good.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card">
        <mat-card class="example-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="example-header-image"
              style="background-image: url('/assets/img/faq.jpg');"
            ></div>
            <mat-card-title>WHICH COUNTRY UNIVERSITIES INFORMATION I CAN GET?</mat-card-title>           
          </mat-card-header>         
          <mat-card-content>
            <p>
               Overall information about top USA and Canada universities are provided.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
</div>
<footer></footer>