@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css");
.container {
  margin-top: 30px;
}

h3 {
  margin-bottom: 15px;
}

.highlight {
  color: blue;
}
/* Add application styles & imports to this file! */

.invalid-feedback {
  display: block;
}
.btn {
  width: 30%;
  margin-top: 10px;
}
.layout {
  width: inherit;
  padding: inherit;
  padding-bottom: 5px;
  margin-top: 10px;
}
