<div style="overflow: auto; height: 100%; background-color: #e7ebee;">
  <app-header></app-header>
  <div class="heading">Why Masters</div>
  <div class="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dicta
    tempora! Ex commodi similique iusto! Maiores ducimus ipsum, sed praesentium
    vitae nam dolor sapiente consequatur recusandae soluta omnis quas ratione!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore saepe
    hic quibusdam necessitatibus architecto soluta cupiditate! Accusantium
    libero voluptatum quibusdam quo ratione quis! Consectetur, perferendis nam
    ratione est laudantium ducimus. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Accusantium, dicta tempora! Ex commodi similique iusto!
    Maiores ducimus ipsum, sed praesentium vitae nam dolor sapiente consequatur
    recusandae soluta omnis quas ratione! Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Inventore saepe hic quibusdam necessitatibus
    architecto soluta cupiditate! Accusantium libero voluptatum quibusdam quo
    ratione quis! Consectetur, Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Accusantium, dicta tempora! Ex commodi similique iusto!
    Maiores ducimus ipsum, sed praesentium vitae nam dolor sapiente consequatur
    recusandae soluta omnis quas ratione! Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Inventore saepe hic quibusdam necessitatibus
    architecto soluta cupiditate! Accusantium libero voluptatum quibusdam quo
    ratione quis! Consectetur, Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Accusantium, dicta tempora! Ex commodi similique iusto!
    Maiores ducimus ipsum, sed praesentium vitae nam dolor sapiente consequatur
    recusandae soluta omnis quas ratione! Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Inventore saepe hic quibusdam necessitatibus
    architecto soluta cupiditate! Accusantium libero voluptatum quibusdam quo
    ratione quis! Consectetur. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Inventore saepe hic quibusdam necessitatibus architecto
    soluta cupiditate! Accusantium libero voluptatum quibusdam quo ratione quis!
    Consectetur, Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Accusantium, dicta tempora! Ex commodi similique iusto! Maiores ducimus
    ipsum, sed praesentium vitae nam dolor sapiente consequatur recusandae
    soluta omnis quas ratione! Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Inventore saepe hic quibusdam necessitatibus architecto
    soluta cupiditate! Accusantium libero voluptatum quibusdam quo ratione quis!
    Consectetur. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Inventore saepe hic quibusdam necessitatibus architecto soluta cupiditate!
    Accusantium libero voluptatum quibusdam quo ratione quis! Consectetur, Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dicta
    tempora! Ex commodi similique iusto! Maiores ducimus ipsum, sed praesentium
    vitae nam dolor sapiente consequatur recusandae soluta omnis quas ratione!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore saepe
    hic quibusdam necessitatibus architecto soluta cupiditate! Accusantium
    libero voluptatum quibusdam quo ratione quis! Consectetur. Lorem ipsum,
    dolor sit amet consectetur adipisicing elit. Inventore saepe hic quibusdam
    necessitatibus architecto soluta cupiditate! Accusantium libero voluptatum
    quibusdam quo ratione quis! Consectetur, Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Accusantium, dicta tempora! Ex commodi
    similique iusto! Maiores ducimus ipsum, sed praesentium vitae nam dolor
    sapiente consequatur recusandae soluta omnis quas ratione! Lorem ipsum,
    dolor sit amet consectetur adipisicing elit. Inventore saepe hic quibusdam
    necessitatibus architecto soluta cupiditate! Accusantium libero voluptatum
    quibusdam quo ratione quis! Consectetur.
  </div>
</div>
