<app-header></app-header>
<div style="overflow: auto; height: 79%; background-color: #e7ebee;">
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="10px"
    fxLayoutGap.xs="5px"
    fxLayoutAlign="start"
    style="padding-left: 2%; padding-right: 2%; padding-top: 2%;"
  >
    <div>
      <h2>Mock Test</h2>
      <h3>Section 1 Verbal</h3>
      <p style="font-weight: bold;">
        1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto neque
        voluptatibus in. Repellendus quaerat animi sequi deserunt ut blanditiis,
        dolor laborum consectetur distinctio. Doloremque sed adipisci vero, esse
        ut tenetur?
      </p>
      <mat-radio-group
        class="example-radio-group"
        aria-label="Select the number of questions you want to practice"
      >
        <mat-radio-button class="example-radio-button" value="1"
          >Option 1</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="2"
          >Option 2</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="3"
          >Option 3</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="4"
          >Option 4</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="5"
          >Option 5</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="10px"
    fxLayoutGap.xs="5px"
    fxLayoutAlign="start"
    style="padding-left: 2%; padding-right: 2%; padding-top: 1%;"
  >
    <div>
      <p style="font-weight: bold;">
        2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto neque
        voluptatibus in. Repellendus quaerat animi sequi deserunt ut blanditiis,
        dolor laborum consectetur distinctio. Doloremque sed adipisci vero, esse
        ut tenetur?
      </p>
      <mat-radio-group
        class="example-radio-group"
        aria-label="Select the number of questions you want to practice"
      >
        <mat-radio-button class="example-radio-button" value="1"
          >Option 1</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="2"
          >Option 2</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="3"
          >Option 3</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="4"
          >Option 4</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="5"
          >Option 5</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="10px"
    fxLayoutGap.xs="5px"
    fxLayoutAlign="start"
    style="padding-left: 2%; padding-right: 2%; padding-top: 1%;"
  >
    <div>
      <p style="font-weight: bold;">
        3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto neque
        voluptatibus in. Repellendus quaerat animi sequi deserunt ut blanditiis,
        dolor laborum consectetur distinctio. Doloremque sed adipisci vero, esse
        ut tenetur?
      </p>
      <mat-radio-group
        class="example-radio-group"
        aria-label="Select the number of questions you want to practice"
      >
        <mat-radio-button class="example-radio-button" value="1"
          >Option 1</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="2"
          >Option 2</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="3"
          >Option 3</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="4"
          >Option 4</mat-radio-button
        >
        <mat-radio-button class="example-radio-button" value="5"
          >Option 5</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="10px"
    fxLayoutGap.xs="5px"
    fxLayoutAlign="center"
    style="padding-bottom: 2%;"
  >
    <button mat-raised-button color="primary">
      Next
    </button>
    <button mat-raised-button color="warn">
      Submit Answers
    </button>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
