<app-header></app-header>
<div style="padding-bottom: 7%;">
  <div>
    <h1 class="heading">Success Stories</h1>
  </div>
  <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center" class="topDiv">
    <div class="mat-elevation-z8">
      <mat-card>
        <h2>Success Story 1</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas cumque
          excepturi nisi blanditiis reprehenderit fugiat commodi, officiis
          dignissimos eos dicta earum dolorum expedita voluptates eius esse,
          eligendi molestiae vitae laboriosam. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Culpa incidunt dolorem quaerat
          itaque,saepe ullam iste delectus vel sunt, explicabo, vero placeat
          aperiam quisquam velit voluptatibus ipsa. Ipsam, laudantium impedit.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas cumque
          excepturi nisi blanditiis reprehenderit fugiat commodi, officiis
          dignissimos eos dicta earum dolorum expedita voluptates eius esse,
          eligendi molestiae vitae laboriosam. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Culpa incidunt dolorem quaerat
          itaque,saepe ullam iste delectus vel sunt, explicabo, vero placeat
          aperiam quisquam velit voluptatibus ipsa. Ipsam, laudantium impedit
        </p>
      </mat-card>
    </div>
    <div class="mat-elevation-z8">
      <mat-card>
        <h2>Success Story 2</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas cumque
          excepturi nisi blanditiis reprehenderit fugiat commodi, officiis
          dignissimos eos dicta earum dolorum expedita voluptates eius esse,
          eligendi molestiae vitae laboriosam. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Culpa incidunt dolorem quaerat
          itaque,saepe ullam iste delectus vel sunt, explicabo, vero placeat
          aperiam quisquam velit voluptatibus ipsa. Ipsam, laudantium impedit.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas cumque
          excepturi nisi blanditiis reprehenderit fugiat commodi, officiis
          dignissimos eos dicta earum dolorum expedita voluptates eius esse,
          eligendi molestiae vitae laboriosam. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Culpa incidunt dolorem quaerat
          itaque,saepe ullam iste delectus vel sunt, explicabo, vero placeat
          aperiam quisquam velit voluptatibus ipsa. Ipsam, laudantium impedit
        </p>
      </mat-card>
    </div>
    <div class="mat-elevation-z8">
      <mat-card>
        <h2>Success Story 3</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas cumque
          excepturi nisi blanditiis reprehenderit fugiat commodi, officiis
          dignissimos eos dicta earum dolorum expedita voluptates eius esse,
          eligendi molestiae vitae laboriosam. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Culpa incidunt dolorem quaerat
          itaque,saepe ullam iste delectus vel sunt, explicabo, vero placeat
          aperiam quisquam velit voluptatibus ipsa. Ipsam, laudantium impedit.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas cumque
          excepturi nisi blanditiis reprehenderit fugiat commodi, officiis
          dignissimos eos dicta earum dolorum expedita voluptates eius esse,
          eligendi molestiae vitae laboriosam. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Culpa incidunt dolorem quaerat
          itaque,saepe ullam iste delectus vel sunt, explicabo, vero placeat
          aperiam quisquam velit voluptatibus ipsa. Ipsam, laudantium impedit
        </p>
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
