<app-header></app-header>
<div
  class="container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="10px"
  fxLayoutGap.xs="5px"
  fxLayoutAlign="start"
  style="
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  "
>
  <div class="item item-1" fxFlex="50%">
    <mat-card
      class="example-card"
      [routerLink]="['whyMasters']"
      routerLinkActive="active"
    >
      <mat-card-header>
        <mat-card-title>Why Masters?</mat-card-title>
        <mat-card-subtitle>Masters</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper
          auctor neque vitae tempus quam pellentesque nec nam. Curabitur gravida
          arcu ac tortor dignissim convallis aenean et. Sed arcu non odio
          euismod lacinia at. Sollicitudin tempor id eu nisl nunc.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="item item-1" fxFlex="50%">
    <mat-card
      class="example-card"
      [routerLink]="['stories']"
      routerLinkActive="active"
    >
      <mat-card-header>
        <mat-card-title>Success Stories</mat-card-title>
        <mat-card-subtitle>Masters</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper
          auctor neque vitae tempus quam pellentesque nec nam. Curabitur gravida
          arcu ac tortor dignissim convallis aenean et. Sed arcu non odio
          euismod lacinia at. Sollicitudin tempor id eu nisl nunc.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div
  class="container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="10px"
  fxLayoutGap.xs="5px"
  fxLayoutAlign="start"
  style="
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  "
>
  <div class="item item-1" fxFlex="50%">
    <mat-card
      class="example-card"
      [routerLink]="['schools']"
      routerLinkActive="active"
    >
      <mat-card-header>
        <mat-card-title>List of Schools</mat-card-title>
        <mat-card-subtitle>Masters</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper
          auctor neque vitae tempus quam pellentesque nec nam. Curabitur gravida
          arcu ac tortor dignissim convallis aenean et. Sed arcu non odio
          euismod lacinia at. Sollicitudin tempor id eu nisl nunc.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="item item-1" fxFlex="50%">
    <mat-card
      class="example-card"
      [routerLink]="['ranking']"
      routerLinkActive="active"
    >
      <mat-card-header>
        <mat-card-title>School Rankings 2020</mat-card-title>
        <mat-card-subtitle>Masters</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper
          auctor neque vitae tempus quam pellentesque nec nam. Curabitur gravida
          arcu ac tortor dignissim convallis aenean et. Sed arcu non odio
          euismod lacinia at. Sollicitudin tempor id eu nisl nunc.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
