<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
<script type="text/javascript" src="js/materialize.min.js"></script>
  <app-header></app-header>
  <div class="parallax-container">
    <div class="parallax"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Why Choose GRE PREP</h2>
      <p class="grey-text text-darken-3 lighten-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Semper auctor neque
        vitae tempus quam pellentesque nec nam. Curabitur gravida arcu ac tortor
        dignissim convallis aenean et. Sed arcu non odio euismod lacinia at.
        Sollicitudin tempor id eu nisl nunc. Auctor urna nunc id cursus metus
        aliquam eleifend mi. Amet mattis vulputate enim nulla aliquet. Varius duis
        at consectetur lorem. Non arcu risus quis varius quam quisque id.
        Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Risus
        sed vulputate odio ut enim blandit volutpat maecenas volutpat. Nunc congue
        nisi vitae suscipit tellus. Et malesuada fames ac turpis egestas integer
        eget. Aliquet bibendum enim facilisis gravida neque convallis a. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Semper auctor neque vitae
        tempus quam pellentesque nec nam. Curabitur gravida arcu ac tortor
        dignissim convallis aenean et. Sed arcu non odio euismod lacinia at.
        Sollicitudin tempor id eu nisl nunc. Auctor urna nunc id cursus metus
        aliquam eleifend mi. Amet mattis vulputate enim nulla aliquet. Varius duis
        at consectetur lorem. Non arcu risus quis varius quam quisque id.
        Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Risus
        sed vulputate odio ut enim blandit volutpat maecenas volutpat. Nunc congue
        nisi vitae suscipit tellus. Et malesuada fames ac turpis egestas i</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax2"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Mock Tests</h2>
      <p class="grey-text text-darken-3 lighten-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Semper auctor neque
        vitae tempus quam pellentesque nec nam. Curabitur gravida arcu ac tortor
        dignissim convallis aenean et. Sed arcu non odio euismod lacinia at.
        Sollicitudin tempor id eu nisl nunc. Auctor urna nunc id cursus metus
        aliquam eleifend mi. Amet mattis vulputate enim nulla aliquet. Varius duis
        at consectetur lorem. Non arcu risus quis varius quam quisque id.
        Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Risus
        sed vulputate odio ut enim blandit volutpat maecenas volutpat. Nunc congue
        nisi vitae suscipit tellus. Et malesuada fames ac turpis egestas integer
        eget. Aliquet bibendum enim facilisis gravida neque convallis a. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Semper auctor neque vitae
        tempus quam pellentesque nec nam. Curabitur gravida arcu ac tortor
        dignissim convallis aenean et. Sed arcu non odio euismod lacinia at.
        Sollicitudin tempor id eu nisl nunc. Auctor urna nunc id cursus metus
        aliquam eleifend mi. Amet mattis vulputate enim nulla aliquet. Varius duis
        at consectetur lorem. Non arcu risus quis varius quam quisque id.
        Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Risus
        sed vulputate odio ut enim blandit volutpat maecenas volutpat. Nunc congue
        nisi vitae suscipit tellus. Et malesuada fames ac turpis egestas i</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax3"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">GRE Predictor and Attempt History</h2>
      <p class="grey-text text-darken-3 lighten-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Semper auctor neque
        vitae tempus quam pellentesque nec nam. Curabitur gravida arcu ac tortor
        dignissim convallis aenean et. Sed arcu non odio euismod lacinia at.
        Sollicitudin tempor id eu nisl nunc. Auctor urna nunc id cursus metus
        aliquam eleifend mi. Amet mattis vulputate enim nulla aliquet. Varius duis
        at consectetur lorem. Non arcu risus quis varius quam quisque id.
        Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Risus
        sed vulputate odio ut enim blandit volutpat maecenas volutpat. Nunc congue
        nisi vitae suscipit tellus. Et malesuada fames ac turpis egestas integer
        eget. Aliquet bibendum enim facilisis gravida neque convallis a. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Semper auctor neque vitae
        tempus quam pellentesque nec nam. Curabitur gravida arcu ac tortor
        dignissim convallis aenean et. Sed arcu non odio euismod lacinia at.
        Sollicitudin tempor id eu nisl nunc. Auctor urna nunc id cursus metus
        aliquam eleifend mi. Amet mattis vulputate enim nulla aliquet. Varius duis
        at consectetur lorem. Non arcu risus quis varius quam quisque id.
        Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Risus
        sed vulputate odio ut enim blandit volutpat maecenas volutpat. Nunc congue
        nisi vitae suscipit tellus. Et malesuada fames ac turpis egestas i</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax4"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">My Schools</h2>
      <p class="grey-text text-darken-3 lighten-3"> Aspirants can add schools to this page as they start their preparation 
        and change their selection or move schools between different tables whenever they feel the need to. 
        Whenever people start preparing for their GRE exam, they have a set target in their mind. 
        They know which schools they want to get into.
        As they move further in their preparation, they get a much clearer picture as to which schools they can get into easily and schools for which schools they need to work hard.
        Before starting their GRE preparations, aspirants are suggested to a mock test so that they could get to know how much effort they must put into their preparations. 
        Based on these marks they can even shortlist schools as Dream, Reach and Safe. 
        Dream schools are those schools for which users must put in a lot of effort into their preparations. 
        Reach schools are the one for which users must put in adequate amount of efforts. 
        Safe schools are the one for which users are quite sure they would get into with little efforts. 
        The schools in these divisions are bound to change as the preparation goes on.
        This will help them keep their eye on the target.</p>
    </div>
  </div>
<app-footer></app-footer>
